
.sideBar{
    background-color: none;
}
.sideBar_box{
    padding: 1rem;
    border-bottom: 1px solid var(--icons-color);
    background-color:  transparent;
}

.sideBar_box_logo{
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.sideBar_box p{
    margin-top:  -1.5rem;
}

.sideBar_social{
    display: flex;
    gap: 1.2rem;
    font-size: 1.2rem;
    align-items: center;
}

.sideBar_social a{
    padding: .1rem;
    border-radius: 50%;
    transition:  all .3s ease-in;
    display: flex;
}

.sidebar_container_left_box_input_box{
    width: auto;
    display:flex;
    align-items: center;
    padding: .5rem;
    background-color: rgb(29, 29, 29);
}

.sidebar_container_left_box_input_box input{
    width: 96%;
    border: none;
    outline: none;
    background-color:  transparent;
}

.search_icon{
    cursor: pointer;
    font-size: 1rem;
}

.sideBar_menu{
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom:  1px solid var(--icons-color);
}

.sideBar_menu_box{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    cursor: pointer;
}

.sideBar_categories{
    padding-inline: 0.8rem;
}

.createButton{
    padding: 10px 15px;
    border-radius: 30px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    transition: 0.3s ease-in;
  }
  
  .createButton:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px solid black;
  }

.sideBar_button{
    color: white;
    background-color: transparent;
    padding: 1rem 1rem;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}
