.h2 {
    text-align: center;
    color: white;
    margin-top: 120px;
    margin-bottom: 50px;
    font-size: 20px;
}

.carousel {
    width: 70%;
    height: fit-content;
    text-align: center;
    margin: auto auto 50px auto;
}

.carousel_card {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.carousel_card1 {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(14, 14, 14, 0.35);
    display: inline-block;
}

.carousel_card2 {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(14, 14, 14, 0.35);
    display: inline-block;
}

.carousel_card3 {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(14, 14, 14, 0.35);
    display: inline-block;
}

.carousel_card4 {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(14, 14, 14, 0.35);
    display: inline-block;
}

.carousel_card5 {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(14, 14, 14, 0.35);
    display: inline-block;
}

.carousel_card6 {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(14, 14, 14, 0.35);
    display: inline-block;
}

@media screen and (max-width: 768px) {

    .h2 {
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .carousel {
        justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        gap: 1rem 3rem;
    }

    .carousel_card{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px 0px 10px 0px;
        gap: 2rem;
    }

    .carousel_card1 {
        border: 1px solid gray;
        border-radius: 10px;
        display: inline-block;
    }
    
    .carousel_card2 {
        border: 1px solid gray;
        border-radius: 10px;
        display: inline-block;
    }
    
    .carousel_card3 {
        border: 1px solid gray;
        border-radius: 10px;
        display: inline-block;
    }
    
    .carousel_card4 {
        border: 1px solid gray;
        border-radius: 10px;
        display: inline-block;
    }
    
    .carousel_card5 {
        border: 1px solid gray;
        border-radius: 10px;
        display: inline-block;
    }
    
    .carousel_card6 {
        border: 1px solid gray;
        border-radius: 10px;
        display: inline-block;
    }
}

