
.button {
    background-color: white;
    color: black;
    padding: .7rem 1.3rem;
    border: 1px solid black;
    border-radius: 20rem;
    font-size: 1rem;
    cursor: pointer;
    transition:  all .2s ease-in;
    box-shadow: black;
}

.button:hover{
    background-color: var(--main-bg-color);
    color:  var(--icons-color);
    border: 1px solid white;
}