
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .leftContainer {
    flex: 1 0 500px;
    padding-right: 0px;
    padding-left: 20px;
  }
  
  .rightContainer {
    flex: 1 0 300px;
    margin-top: 20px;
    text-align: center;
    padding-right: 20px;
  }
  
  .collectionName {
    margin-bottom: 10px;
  }
  
  .NFTName {
    margin-bottom: 10px;
  }
  
  .creatorName {
    margin-bottom: 20px;
  }
  
  .NFTDescription {
    margin-top: 40px;
  }
  
  .collectionDescription {
    margin-top: 40px;
  }
  
  .tokenDetails {
    margin-top: 30px;
  }
  
  .priceDetails {
    margin-top: 30px;
  }
  
  .tokenDetail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .priceDetail {
    display: flex;
    justify-content: space-between;
    margin: 0px 130px 10px 130px;
    font-weight: bold;
  }

  .offerButton{
    margin-top: 30px;
    color: black;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;

  }
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .leftContainer {
      flex: 1 0 auto;
      padding-right: 0;
    }
  
    .rightContainer {
      flex: 1 0 auto;
    }

    .priceDetail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content:center;
        gap: 10px;
        font-weight: bold;
      }
  }
  