
.navbar{
    width: 100%;
    padding-block: 1.5rem;
    position: relative;
    z-index: 111111111;
}

.navbar_container{
    width: 90%;
    margin:  0 auto;

    display:  flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.navbar_container_left{
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items:  center;
}

.logo{
  color: var(--icons-color);
  font-size: .3rem;
  cursor: pointer;
}

.navbar_container_left_box_input_box{
    width: 120%;
    border: 1px solid black;
    display:flex;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgb(29, 29, 29);
}

.navbar_container_left_box_input_box input{
    width: 91%;
    border: none;
    outline: none;
    background-color:  transparent;
}

.search_icon{
    cursor: pointer;
    font-size: 1rem;
}

/* //-------RIGHT */

.navbar_container_right{
    display: flex;
    grid-template-columns: 1fr 1fr .5fr 1fr .3fr;
    gap: 3rem;
    align-items: center;
    /* align-self: flex-end; */
}

.navbar_container_right_categories{
    position: relative;
    cursor: pointer;
}

.navbar_container_right_categories_dropdown{
    position: absolute;
    padding: .7rem .6rem;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    width: 7.5rem;
    border-radius: 1rem;
    background-color: var(--main-bg-color);
}

.navbar_container_right_button_create{
    position: relative;
    cursor: pointer;
}
.navbar_container_right_button_profile{
    position: relative;
    cursor: pointer;
}
.navbar_container_right_button_connect{
    position: relative;
    cursor: pointer;
}

.navbar_container_right_menuButton{
    display: none;
}

.createButton{
  padding: 10px 15px;
  border-radius: 30px;
  color: white;
  background-color: black;
  border: 1px solid white;
  transition: 0.3s ease-in;
}

.createButton:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  border: 1px solid black;
}

.menuIcon{
    font-size: 2.2rem;
    cursor: pointer;
}

/* /////------SIDEBAR */

.sideBar{
    position: fixed;
    top: 0;
    width: 24rem;
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    height: 100vh;
    overflow-y: auto;
    display: none;
    z-index: 11111;
}

.sideBar::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar_container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .navbar_container_left {
      grid-template-columns: 1fr;
      justify-content: space-between;
      align-items: center;
      margin-right: 1rem;
    }
  
    .navbar_container_left_box_input_box {
      display: none;
    }
  
    .navbar_container_right {
      grid-template-columns: 1fr;
      gap: 0;
    }
  
    .navbar_container_right_categories {
      display: none;
    }
  
    .navbar_container_right_button_create,
    .navbar_container_right_button_profile,
    .navbar_container_right_button_connect {
      display: none;
    }
  
    .navbar_container_right_menuButton {
      display: block;
      margin-left: 1rem;
    }
  
    .menuIcon {
      font-size: 2rem;
    }
  
    .sideBar {
      width: 100%;
      height: 100%;
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--main-bg-color);
      z-index: 11111;
    }
  
    .sideBar_box {
      padding: 1rem;
      border-bottom: 1px solid var(--icons-color);
    }
  
    .sideBar_box_logo {
      font-size: 3rem;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
  
    .sideBar_menu {
      padding: 1rem;
    }
  
    .sideBar_menu_box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 1rem;
      border-bottom: 1px solid var(--icons-color);
    }
  
    .sideBar_discover {
      padding-inline: 0.5rem;
    }
  
    .sideBar_button {
      padding: 1rem;
    }
  }
  