.container {
    max-width: 85%;
    margin: 0 auto;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid #707070;
}

.leftContainer {
    display: grid;
    gap: 1rem;
    align-items: center;
}

.rightContainer {
    display: grid;
    gap: 10px;
    text-align: end;
}

.profileImageContainer {
    border-radius: 10%;
    overflow: hidden;
    margin-right: 0px;
}

.usernameContainer {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
}

.editUsernameButton {
    margin-left: 10px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: gray;
}

.walletAddressContainer {
    font-size: 16px;
    margin-left: 10px
}

.settingsButton {
    margin-right: 0px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.settingsButton:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*.createNFTButton {
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.createNFTButton:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
}*/

.createCollectionButton {
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.createCollectionButton:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
}

.tabContainer {
    margin-top: 40px;
}

.tabHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.tabButton {
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    color: rgb(160, 160, 160);
}

.tabButton:hover {
    color: white;
}

.searchBoxContainer {
    margin-left: auto;
    display: flex;
    align-items: center;
    background-color: #0a0a0a;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.searchBox {
    border: none;
    background-color: transparent;
    width: 100%;
    margin-left: 5px;
    font-size: 15px;
}

.tabDivider {
    border-bottom: 1px solid #707070;
    margin-top: 20px;
}

.tabFooter {
    margin-top: 20px;
}

@media screen and (max-width: 570px) {
    .container {
        max-width: 90%;
        margin: 10px;
    }

    .profileContainer {
        display: grid;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px 40px 15px;
        border-bottom: 1px solid #707070;
    }

    .leftContainer {
        display: grid;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .rightContainer {
        display: block;
        gap: 10px;
        text-align: center;
    }

    .profileImageContainer {
        border-radius: 0%;
        margin: 0px auto 10px auto;
        overflow: hidden;
    }

    .usernameContainer {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .editUsernameButton {
        margin-left: 10px;
        font-size: 14px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: gray;
    }

    .walletAddressContainer {
        font-size: 16px;
        margin-left: 10px
    }

    .settingsButton {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 13px;
        background-color: transparent;
        border: 1px solid white;
        color: #fff;
        padding: 10px 25px;
        border-radius: 40px;
        cursor: pointer;
    }

    /*
    .createNFTButton {
        font-size: 15px;
        background-color: white;
        border: none;
        color: black;
        padding: 10px 20px;
        border-radius: 40px;
        cursor: pointer;
    }
    */
    .createCollectionButton {
        margin-top: 15px;
        font-size: 13px;
        background-color: white;
        border: 1px solid black;
        color: black;
        padding: 10px 20px;
        border-radius: 40px;
        cursor: pointer;
        transition: 0.2s ease-in;
    }

    .tabContainer {
        margin-top: 30px;
    }

    .tabHeader {
        display: grid;
        gap: 15px;
        align-items: center;
        margin-bottom: 20px;
    }

    .tabButton {
        font-size: 16px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 10px;
        color: rgb(160, 160, 160);
    }

    .tabButton:hover {
        color: white;
    }

    .searchBoxContainer {
        display: flex;
        text-align: center;
        align-items: center;
        background-color: #0a0a0a;
        border-radius: 230px;
        padding: 10px;
        margin-left: auto;
        margin-right: 10px;
    }

    .searchBox {
        border: none;
        background-color: transparent;
        width: 100%;
        margin-left: 5px;
        margin-right: 20px;
        font-size: 15px;
    }

    .tabDivider {
        display: none;
        width: 100%;
        border-bottom: 1px solid #707070;
        margin-top: 20px;
    }

    .tabFooter {
        margin-top: 20px;
    }

}